@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
<style>
    .chessbroad{
        width: 635px;
        height: 706px;
        background-image: url(/Images/banco.svg);
        position: absolute;
    }
    .chessnode{
        position:absolute;
        width:65px;
        height: 65px;
    }
    .chessimgnode{
        width:65px;
        height: 65px;
    }
</style>
<div id="app" style="min-height:750px">
        <div class="chessbroad">
            <div v-for="item in chessNode" class="chessnode"
                 v-on:dragstart="dragStart"
                 v-on:dragend="dragEnd"
                 :id="item.id" v-bind:style="{ display: item.visible, top: item.top + 'px', left: item.left + 'px' }">
                <img :src="'/' + item.src" class="chessimgnode" />
            </div>
        </div>
</div>

<script src="~/js/chess.js"></script>