@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "PlayRoom";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/playtime.css" />
<link rel="stylesheet" href="~/css/chess.css" />
<link rel="stylesheet" href="~/css/chat.css" />

<div id="app" class="row g-0 text-center" style="min-height: 676px; margin: 0 20px;">

    <div class="col-sm-6 col-md-8 chess_border">
        <div class="chessboard">
            <div v-for="item in chessNode" class="chessnode"
                 v-on:dragstart="dragStart"
                 v-on:dragend="dragEnd"
                 :id="item.id" v-bind:style="{ display: item.visible, top: item.top + 'px', left: item.left + 'px' }">
                <img :src="'/' + item.src" class="chessimgnode" />
            </div>
        </div>
        <div class="play_time">
            <ul class="play_time_now">
                <li class="hour">
                    <div class="title_item title_item_other">00</div>
                </li>
                <li class="minute">
                    <div class="title_item title_item_other">00</div>
                </li>
                <li class="second">
                    <div class="title_item">000</div>
                </li>
            </ul>

        </div>
    </div>


    <div class="col-6 col-md-4 chat_border">

        <div class="container overflow-hidden text-center body_chat">
            <div class="row chat_box">
                <div class="col chat_bar">
                    <div class="row" style="text-align: end !important;">
                        <ul id="messagesList" class="chat_list"></ul>
                    </div>
                </div>
                <div class="col-6" style="width:100%; padding: 0;">
                    <div class="chat_input">
                        <div class="row p-1" style="width: 80%">
                            <div class="w-100"><input type="text" placeholder="Ab" class="w-100 input_msg" id="messageInput" /></div>
                        </div>
                        <div class="row p-1">
                            <div id="sendButton" class="send_icon" onclick="buttonSend()">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-thumb-up-filled" width="34" height="34" color="#0084ff" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <path d="M13 3a3 3 0 0 1 2.995 2.824l.005 .176v4h2a3 3 0 0 1 2.98 2.65l.015 .174l.005 .176l-.02 .196l-1.006 5.032c-.381 1.626 -1.502 2.796 -2.81 2.78l-.164 -.008h-8a1 1 0 0 1 -.993 -.883l-.007 -.117l.001 -9.536a1 1 0 0 1 .5 -.865a2.998 2.998 0 0 0 1.492 -2.397l.007 -.202v-1a3 3 0 0 1 3 -3z" stroke-width="0" fill="currentColor"></path>
                                    <path d="M5 10a1 1 0 0 1 .993 .883l.007 .117v9a1 1 0 0 1 -.883 .993l-.117 .007h-1a2 2 0 0 1 -1.995 -1.85l-.005 -.15v-7a2 2 0 0 1 1.85 -1.995l.15 -.005h1z" stroke-width="0" fill="currentColor"></path>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
<script src="~/js/chess.js"></script>
<script src="~/js/chat.js"></script>