@{
    ViewData["Title"] = "Home Page";
}
<style>

    .body {
        font-family: Arial, sans-serif;
        background-image: url('https://scontent.fsgn19-1.fna.fbcdn.net/v/t1.15752-9/394495779_1490226645076932_8337144712540162532_n.png?_nc_cat=111&ccb=1-7&_nc_sid=8cd0a2&_nc_ohc=W5vdyeQdniIAX_3_RBb&_nc_ht=scontent.fsgn19-1.fna&oh=03_AdSR0FQ3OuSZDmcd0IsZ5sE9Rfvg_n1zlxsnCxmWgmGOlg&oe=655C243B'); /* Đường dẫn đến hình ảnh nền */
        background-size: cover;
        background-repeat: no-repeat;
        margin: 0;
        padding: 0;
        width: 1440px;
    }

    .container{
        margin-left: 0;
        margin-right: 0;
        padding-left:0;
        padding-right:0;
    }

    .menu {
        display: flex;
        flex-direction: column;
        max-width: 250px;
        padding: 200px;
    }

    .menu button {
        background-color: #4C382F;
        color:white;
        border: none;
        padding: 15px 30px;
        margin: 10px 0;
        cursor: pointer;
        border-radius: 20px;
        font-size: 30px;
        width:260px;
    }

    .menu button a{
        color:white;
        text-decoration: none;
    }

</style>
<div class="body">
    <div class="menu">
        <button class="btn btn-style rounded-pill" type="button">
            <div class="btn_title">
                @Html.ActionLink("CHƠI", "PlayRoom", "Room", null, new {@class = "link_title"})
            </div>
        </button>

        <input type="text" id="roomNameInput" placeholder="Nhập tên phòng" style="width:260px;" />
        <button onclick="createRoom()">Tạo Phòng</button>

        <button class="btn btn-style rounded-pill" type="button">
            <div class="btn_title">Phòng</div>
        </button>
        <button class="btn btn-style rounded-pill" type="button">
            <div class="btn_title">Xếp Hạng</div>
        </button>

        <button><a asp-area="" asp-controller="Home" asp-action="HuongDan">HƯỚNG DẪN</a></button>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
<script>
    function createRoom() {
        const roomName = document.getElementById('roomNameInput').value;

        if (roomName.trim() === '') {
            alert('Vui lòng nhập tên phòng.');
        } else {
            // Dữ liệu bạn muốn gửi
            const requestData = { roomName: roomName };

            // Gửi yêu cầu POST sử dụng Axios
            axios.post('/api/Room/insertRoom', requestData)
                .then(response => {
                    // Kiểm tra phản hồi từ máy chủ
                    if (response.data.status) {
                        alert(`Phòng "${roomName}" đã được tạo.`);
                    } else {
                        alert(response.data.message);
                    }
                })
                .catch(error => {
                    console.error('Lỗi khi gửi yêu cầu API:', error);
                });
        }
    }
</script>

